USE [master]
GO
/****** Object:  Database [VeterinaryDb]    Script Date: 22/03/2024 11:16:22 a. m. ******/
CREATE DATABASE [VeterinaryDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VeterinaryDb', FILENAME = N'C:\SQLData\VeterinaryDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VeterinaryDb_log', FILENAME = N'C:\SQLData\VeterinaryDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VeterinaryDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VeterinaryDb]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 22/03/2024 11:16:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[Pet_Id] [int] IDENTITY(100000,1) NOT NULL,
	[Pet_Name] [nvarchar](50) NOT NULL,
	[Pet_Type] [nvarchar](50) NOT NULL,
	[Pet_Colour] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
